{% extends 'base.html.twig' %}

{% block title %}
 Microblog
{% endblock %}

{% block header %}
  <h1>Title</h1>
{% endblock %}

{% block main %}
  <p>My first page</p>
{% endblock %}

{% block footer %}
  <footer>Credits & copyright</footer>
{% endblock %}